*,
*::before,
*::after{
    box-sizing:border-box;
}
:root{
    --ff-primary: 'Inter var', sans-serif;
    --ff-secondary: 'Inter var', Inter-Light;

    --fw-reg: 300;
    --fw-bold: 700;

    --clr-light:#fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25);
}

section {
    padding: 5em 2em;
}
@media (min-width: 800px){
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

.section_subtitle_my_work{
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    color: var(--clr-accent);
}
/* General style */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;

}

.btn{
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}
/*typography*/

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;

}
strong{
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section_title{
    margin-bottom: 0.25em;
}

.section_title_intro{
    font-weight: var(--fw-reg);
}

.section_title_intro strong{
    display: block;
}
.section_subtitle{
    margin:0;
    font-size: var(--fs-h3);
    margin-bottom: 0.5em;
}

.section_subtitle_intro,
.section_subtitle_about {
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: 0.25em 1em;
}


/*Header*/
header {
    display: flex;
    justify-content: space-between;
    margin-bottom:2em;    
}

.logo{
    max-width: 80px;
    margin-top: 1em;
    margin-left: 1em;
}


.nav{
    position:fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
    
}
 
.nav_list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav-link:hover{
    color: var(--clr-accent);
}

.nav-toggle{
    padding: 0.5em;
    background: transparent;
    border:0;
    cursor: pointer;
    position: absolute; 
    right:1em;
    top:1em;
    z-index: 101;

}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before{
    opacity: 0;
}

.nav-open .hamburger::after{
    transform: rotate(90deg) translateX(7px);
}

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    /* color: var(--clr-accent); */
    width: 2em;
    background: var(--clr-accent);
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{ top:8px;}
.hamburger::after{bottom: 8px;}

/*Intro section*/

.intro {
    position: relative;
}

.section_subtitle_intro{
    display: inline-block;
}

/* Defining Layout of Intro section */



@media (min-width: 600px) {
    .intro {
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img section_title_intro"
            "img section_subtitle_intro"
            "img about_info";
        grid-template-columns: min-content max-content;
    }

    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
    }
    
    .section_subtitle_intro{
        align-self: start;
        columns: 1/-1;
        grid-column: 2;
        grid-row: 2;
        text-align: right;
        position: absolute;
        width: calc(100% );
    }

}

/* My services section */

.my_services {
    background-color: var(--clr-dark);
    background-image: url(../img/services.jpg);
    color: var(--clr-light);
    background-size: cover;
    text-align: center;
}

.section_title_services {
    color: var(--clr-accent);
    position: relative;
}

.section_title_services::after {
    content: '';
    display: block;
    width: 2.5em;
    height: 1px;
    margin: 0.5em auto 1em;
    opacity: 0.25;
    background: var(--clr-light);
}

.service {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.services {
    margin-bottom: 4em;
}

@media(min-width: 800px){
    .services{
        display:flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

.section_about_me {
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img{
    box-shadow: var(--bs);
}
@media (min-width: 600px){
    .section_about_me {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
                "title img"
                "subtitle img"
                "text img";
        grid-column-gap: 2em;
    }

    .about_me_img{
        grid-area:img;
        position: relative;
    }

    .section_title_about_me{
        grid-area: title;
    }

    .section_subtitle_about{
        grid-column: 1/-1;
        grid-row: 2;
        position:relative;
        left:-1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: cacl(200px+4em);
        margin-bottom: auto;

    }

    .about_me_body {
        grid-area: text;
    }
}

/* My work */
.my_work{
    background-color: var(--clr-dark);
    text-align: center;
    color: var(--clr-light);
    margin-bottom: 0 auto;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.portfolio_item{
    overflow:hidden;
    margin: 5px;
    border: #fff solid;
    border-radius: 10px;
    position: relative;
}

.portfolio_img{
    transition:transform 350ms ease-in-out;
    border-bottom: #fff solid;
    /* margin-bottom: 2px; */
}

.portfolio_item:focus{
    position: relative;
    z-index: 2;
}

.portfolio_item:hover .portfolio_img{
    transform: scale(1.4);
    opacity: 0.75;
}

.text_pic{
    text-decoration: none;
    position: absolute;
    left: 20px;
    top: 80%;
    /* margin-top: 5; */
    /* margin-left: 5; */
    color:#fff;
    
}



.portfolio_item > .portfolio_img{
    object-fit: cover;
    width: 100%;
    height: 85%;
}


.portfolio_item:focus .portfolio_img {
    opacity: 0.75;
}


.footer {
    background: #111;
    text-align: center;
    padding: 2.5em 0 0;
    font-size: var(--fs-h3);
    bottom: 0em;
}

.footer a{ 
    color: var(--clr-accent);
    text-decoration: none;
}

.footer_link:hover,
.social_list_link:hover{
    opacity: 0.7;
}

.footer_link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer_link:hover{
    text-decoration: underline;
}

.social_list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social_list_item{
    margin: 0 0.5em;
}

.social_list_link{
    padding: 0.5em;
}

.portfolio_item_individual{
    padding: 0em 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}
.portfolio_item_individual p {
    max-width: 600px;
    margin: 0 auto;
}

/* Volunteering Layout */

.volunteering{
    padding-top: 45px;    
}
.vol_title{
    margin: 0px auto 20px;
    position: relative;
    text-align: center;
}

.vol_container{
        display: grid;
        position: relative;
        margin: 0 auto;
        max-width: 800px;
        max-height: 1000px;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 3fr 2fr;
        grid-template-areas:
                            "vol_1 vol_2"
                            "vol_3 vol_4";
}

.vol{
    position: relative;
}
.vol> .act{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.act{
    overflow: hidden;
    border: #111 2px solid;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}
.act_text{
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: 300ms ease-in-out;
    font-size: 1.5vw;
    font-weight: 400;
}

.vol:hover .act{
    opacity: 0.3;
}

.vol:hover .act_text{
    opacity: 1;
}

    
.hob_skills_container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    /* grid-template-rows: auto; */
    /* grid-template-areas: 
                    "skills hobbies"; */
    column-gap: 2em;
    column-fill:auto;
    /* row-gap: 2em; */
}   

.Skills{
    position:relative;
    color:#16e0bd;
    /* background-color: #111; */
    /* background-color: var(--clr-dark); */
}

.skills_head{
    position: relative;
    margin-top: 10px;
    /* left: 30%; */
    padding-left: 30%;
}
.skill{
    position: relative;
    margin:3px;
    color: #fff;
    justify-self: center;
    align-self: center;
    transition: transform 300ms ease-in-out;
}

.skill:hover i{
    transform: scale(1.1);
    color: #16e0bd;
}

.skills_container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 5px;
}

@media(min-width: 712px){
    .skills_container{
        border-right: #16e0bd solid 2px;
    }
}

@media(max-width: 712px){
    .skills_container{
        border-bottom: #16e0bd solid 2px;
    }
}

.Hobbies{
    position: inherit;
    color: #16e0bd;
}

.Hobbies_head{
    position: relative;
    margin-top:10px;
    padding-left: 30%;
}

.hob_skills{
    padding-top: 45px;
    background-color: var(--clr-dark);
    padding-bottom: 45px;
}

.hob_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hobby{
    background-color: #16e0bd;
}